<script>
	import '../app.postcss';
</script>

<svelte:head>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@600&display=swap"
		rel="stylesheet"
	/>
	<title>นาฬิกานับถอยหลัง</title>
</svelte:head>

<slot />
