<script lang="ts">
	import {
		timeDuration,
		countdownToTime as countdownTarget,
		isFinished,
		isPause,
		isStarted
	} from '$lib/stores/countdown';
	import { dev } from '$app/environment';

	import type { User } from 'firebase/auth';
	import { auth, googleProvider, signInWithPopup, db, ref, set } from '$lib/firebase';
	import { authState } from 'rxfire/auth';

	let user: User | null = null;
	const unsubscribe = authState(auth).subscribe((u) => {
		user = u;
	});

	function login() {
		signInWithPopup(auth, googleProvider);
	}

	function logout() {
		auth.signOut();
	}

	let interval: number;
	let timeDiffLeft = $timeDuration;
	let displayMinutes: number = Math.floor($timeDuration / 1000 / 60);
	let displaySeconds: number = Math.floor(($timeDuration / 1000) % 60);
	let isDebug = false;

	// Countdown using time diff, calculate time diff on client side
	// and use gun to sync target time with other clients

	function setTime(timeInSec: number) {
		if (timeInSec < 0) return;
		$timeDuration = timeInSec * 1000;
		displayMinutes = Math.floor(timeInSec / 60);
		// ensure seconds is whole number
		displaySeconds = Math.floor(timeInSec % 60);
		timeDiffLeft = $timeDuration;
	}

	function startCountdown(isCalcNew: boolean | undefined) {
		if (timeDiffLeft <= 0) return;
		if ($isStarted && isCalcNew) return;
		$isStarted = true;
		$isPause = false;
		$isFinished = false;
		$countdownTarget = new Date(Date.now() + $timeDuration).toISOString();
		timeDiffLeft = $timeDuration;
		interval = setInterval(() => {
			const now = Date.now();
			const target = new Date($countdownTarget).getTime();
			timeDiffLeft = target - now;
			if (timeDiffLeft <= 0) {
				$isFinished = true;
				$isStarted = false;
				$timeDuration = 0;
				clearInterval(interval);
				return;
			}
			const minutes = Math.floor(timeDiffLeft / 1000 / 60);
			const seconds = Math.floor((timeDiffLeft / 1000) % 60);
			displayMinutes = minutes;
			displaySeconds = seconds;
		}, 10);
	}

	function stopCountdown() {
		$isStarted = false;
		$isPause = true;
		$isFinished = false;
		if (timeDiffLeft <= 0) {
			timeDiffLeft = 0;
			return;
		}
		$timeDuration = timeDiffLeft;
		clearInterval(interval);
	}

	function zeroPadding(num: number) {
		return num < 10 ? `0${num}` : num;
	}

	if ($timeDuration <= 0) $timeDuration = 0;
	if (timeDiffLeft <= 0) $timeDuration = 0;
	if ($isStarted) startCountdown(false);

	function toggleStartStop() {
		if ($isStarted) return stopCountdown();
		return startCountdown(true);
	}
	const currentTime = () => Math.floor($timeDuration / 1000);
	const shortcusTimeKeys: Record<string, () => number> = {
		'0': () => 0,
		'1': () => 1 * 60,
		'2': () => 2 * 60,
		'3': () => 3 * 60,
		'4': () => 4 * 60,
		'5': () => 5 * 60,
		q: () => currentTime() + 5,
		w: () => currentTime() + 15,
		e: () => currentTime() + 30,
		r: () => currentTime() + 45,
		t: () => currentTime() + 60,
		y: () => currentTime() + 90,
		u: () => currentTime() + 120,
		i: () => currentTime() + 600,
		o: () => currentTime() + 900,
		a: () => currentTime() - 5,
		s: () => currentTime() - 15,
		d: () => currentTime() - 30,
		g: () => currentTime() - 60,
		h: () => currentTime() - 90,
		j: () => currentTime() - 120,
		k: () => currentTime() - 600,
		l: () => currentTime() - 900
	};

	$: {
		set(ref(db, `users/${user?.uid}`), {
			timeDuration: $timeDuration,
			countdownTarget: $countdownTarget,
			isStarted: $isStarted,
			isPause: $isPause,
			isFinished: $isFinished,
			isDebug: isDebug
		});
	}
</script>

<svelte:window
	on:keydown|preventDefault={(event) => {
		if (event.isComposing || event.keyCode === 229) {
			return;
		}
		if (event.key === ' ') {
			toggleStartStop();
		}
		// full screen
		if (event.key === 'f') {
			if (document.fullscreenElement) {
				document.exitFullscreen();
			} else {
				document.documentElement.requestFullscreen();
			}
		}
		// exit full screen
		if (event.key === 'Escape') {
			if (document.fullscreenElement) {
				document.exitFullscreen();
			}
		}
		if (event.key === 'ArrowUp') {
			setTime($timeDuration / 1000 + 1);
		}
		if (event.key === 'ArrowDown') {
			setTime($timeDuration / 1000 - 1);
		}
		if (typeof shortcusTimeKeys[event.key] === 'function') {
			setTime(shortcusTimeKeys[event.key]());
		}
	}}
/>

<main class="m-auto">
	{#if dev}
		<pre>{JSON.stringify(
				{
					timeDuration: $timeDuration,
					countdownTarget: $countdownTarget,
					isStarted: $isStarted,
					isPause: $isPause,
					isFinished: $isFinished,
					isDebug: isDebug,
				},
				null,
				2
			)}</pre>
	{/if}
	<div
		class="flex flex-row items-center justify-center"
		class:text-red-500={timeDiffLeft <= 15 * 1000}
	>
		<span class="countdown text-[20vw] text-center items-center">
			<span style="--value:{displayMinutes};" />:
			<span style="--value:{displaySeconds};" class="duration-150" />
		</span>
		<sub class="text-[10vw] w-10 text-right"
			>{zeroPadding(
				$isStarted
					? Math.floor((timeDiffLeft % 1000) / 10)
					: Math.floor(($timeDuration % 1000) / 10)
			)}</sub
		>
	</div>

	<div class="m-auto w-fit">
		<input type="checkbox" bind:checked={isDebug} />
	</div>
	<section class="join text-center w-full m-auto flex flex-row justify-center">
		<button
			class="btn join-item"
			disabled={$isStarted}
			on:click={() => {
				setTime(15);
			}}>00:15</button
		>
		<button
			class="btn join-item"
			disabled={$isStarted}
			on:click={() => {
				setTime(3 * 60);
			}}>3m</button
		>
		<button
			class="btn join-item"
			disabled={$isStarted}
			on:click={() => {
				setTime(5 * 60);
			}}>5m</button
		>
		{#if !$isStarted}
			<button
				class="btn btn-primary join-item"
				on:click|preventDefault={() => startCountdown(true)}
				disabled={timeDiffLeft <= 0}
			>
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="text-inherit {timeDiffLeft <= 0 ? 'stroke-slate-800' : 'stroke-white'}"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><rect width="24" height="24" stroke="none" opacity="0" />
					<g transform="matrix(1.54 0 0 1.54 12 12)">
						<path
							style="stroke-width: 0.974025974025974; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
							transform=" translate(-7.06, -7.02)"
							d="M 1.5 12.35 C 1.5073185223592316 12.774666228363069 1.7501119286258031 13.160052587516358 2.129999999999999 13.35 C 2.5085425871677063 13.563888996097607 2.9714574128322933 13.563888996097607 3.3499999999999996 13.35 L 12 8 C 12.384070175991624 7.814967441216375 12.628232421182163 7.426317895350703 12.628232421182163 7 C 12.628232421182163 6.573682104649297 12.384070175991624 6.185032558783625 12 6 L 3.35 0.69 C 2.9714574128322937 0.47611100390239325 2.5085425871677063 0.47611100390239336 2.13 0.6900000000000002 C 1.7501119286258038 0.8799474124836417 1.5073185223592316 1.2653337716369304 1.5 1.6899999999999995 Z"
							stroke-linecap="round"
						/>
					</g>
				</svg>
				<span class="hidden md:inline"> Start </span>
			</button>
		{:else}
			<button class="btn btn-error join-item" on:click|preventDefault={stopCountdown}>
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="stroke-white"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><rect width="24" height="24" stroke="none" fill="#000000" opacity="0" />
					<g transform="matrix(1.54 0 0 1.54 12 12)">
						<rect
							style="stroke-width: 0.974025974025974; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
							x="-6.5"
							y="-6.5"
							rx="1"
							ry="1"
							width="13"
							height="13"
						/>
					</g>
				</svg>
				<span class="hidden md:inline"> Stop </span>
			</button>
		{/if}
	</section>
	<section class="max-w-md mx-auto my-4 border-sky-100 border p-3">
		<h2 class="text-center bg-sky-100 text-black mb-3">Shortcut Keys</h2>
		<ul class="columns-2">
			<li><kbd>SPACE</kbd> Start/Stop</li>
			<li><kbd>f</kbd> Fullscreen</li>
			<li><kbd>ESC</kbd> Exit fullscreen</li>
			<li />
			{#each Object.entries(shortcusTimeKeys) as [key, value]}
				<li>
					<kbd>{key}</kbd>
					{value() > 0 ? '+' : '-'}{Math.abs(Math.floor(value() / 60)) < 10 ? '0' : ''}{Math.abs(
						Math.floor(value() / 60)
					)}m {Math.abs(Math.floor(value() % 60)) < 10 ? '0' : ''}{Math.abs(
						Math.floor(value() % 60)
					)}s
				</li>
			{/each}
		</ul>
	</section>
	<section class="text-center mb-4">
		{#if user}
			<p class="mb-2">
				Logged in as {user.displayName} ({user.email})<br />
				<small> This countdown will sync across device where you logged in as this user. </small>
			</p>
			<button class="btn btn-error" on:click={logout}>Logout</button>
		{:else}
			<button class="btn btn-primary btn-wide" on:click={login}>Login</button>
		{/if}
	</section>
	<a href="/display">Display</a>
</main>
