<script lang="ts">
	let timeDuration = 0;
	let countdownTarget = '';
	let isFinished = false;
	let isPause = false;
	let isStarted = false;

	let user: User | null = null;
	let timeDiffLeft = timeDuration;
	let displayMinutes: number = Math.floor(timeDuration / 1000 / 60);
	let displaySeconds: number = Math.floor((timeDuration / 1000) % 60);
	let interval: number;
	let isDebug = false;

	import type { User } from 'firebase/auth';
	import {
		auth,
		googleProvider,
		signInWithPopup,
		db,
		ref,
		onAuthStateChanged
	} from '$lib/firebase';
	import { onValue } from 'firebase/database';
	import { Observable } from 'rxjs';
	import { countdownToTime } from '$lib/stores/countdown';

	function authState(auth) {
		return new Observable(function (subscriber) {
			var unsubscribe = onAuthStateChanged(
				auth,
				subscriber.next.bind(subscriber),
				subscriber.error.bind(subscriber),
				subscriber.complete.bind(subscriber)
			);
			return { unsubscribe: unsubscribe };
		});
	}

	function zeroPadding(num: number) {
		return num.toString().padStart(2, '0');
	}

	const unsubscribe = authState(auth).subscribe((u) => {
		user = u;
	});

	let userDataRef = ref(db, `users/0be4i1KaLFUB3CkmeG83i1oTK8d2`);
	onValue(userDataRef, (snapshot) => {
		const data = snapshot.val();
		console.log('data', data);
		isStarted = data?.isStarted;
		isPause = data?.isPause;
		isFinished = data?.isFinished;
		timeDuration = data?.timeDuration;
		countdownTarget = data?.countdownTarget;
		isDebug = data?.isDebug;
	});

	// interval to calculate time left
	function startCountDown() {
		const target = new Date(countdownTarget).getTime();
		interval = setInterval(() => {
			timeDiffLeft = target - new Date().getTime();
			// find the distance between now and the target date
			// time calculations for days, hours, minutes and seconds
			if (!isStarted) {
				clearInterval(interval);
				isFinished = false;
				isStarted = false;
				isPause = true;
				timeDiffLeft = timeDuration;
			}
			displayMinutes = Math.floor(timeDiffLeft / 1000 / 60);
			displaySeconds = Math.floor((timeDiffLeft / 1000) % 60);
			// if the count down is finished, write some text
			if (timeDiffLeft <= 0) {
				clearInterval(interval);
			}
		}, 10);
	}

	$: timeDiffLeft = timeDuration;
	$: displayMinutes = Math.floor(timeDiffLeft / 1000 / 60);
	$: displaySeconds = Math.floor((timeDiffLeft / 1000) % 60);
	// if 'isStarted' is true, start countdown
	$: if (isStarted) {
		startCountDown();
	}
	
	$: if (isPause) {
		clearInterval(interval);
	}
</script>

<svelte:window
	on:keydown={(event) => {
		if (event.isComposing || event.keyCode === 229) {
			return;
		}
		// full screen
		if (event.key === 'f') {
			if (document.fullscreenElement) {
				document.exitFullscreen();
			} else {
				document.documentElement.requestFullscreen();
			}
		}
		// exit full screen
		if (event.key === 'Escape') {
			if (document.fullscreenElement) {
				document.exitFullscreen();
			}
		}
	}}
/>

<main class="m-auto h-screen">
	{#if isDebug}
		<pre>
	isStarted: {isStarted}
	isFinished: {isFinished}
	isPause: {isPause}
	timeDuration: {timeDuration}
	timeDiffLeft: {timeDiffLeft}
	displayMinutes: {displayMinutes}
	displaySeconds: {displaySeconds}
	countdownTarget: {countdownTarget}
</pre>
	{/if}
	<div
		class="flex flex-row items-center justify-center h-screen"
		class:text-red-500={timeDiffLeft <= 15 * 1000}
	>
		<span class="countdown text-[20vw] text-center items-center">
			<span style="--value:{displayMinutes};" />:
			<span style="--value:{displaySeconds};" class="duration-150" />
		</span>
		<sub class="text-[10vw] w-10 flex flex-col justify-start m-0 p-0">
			{zeroPadding(
				isStarted ? Math.floor((timeDiffLeft % 1000) / 10) : Math.floor((timeDuration % 1000) / 10)
			)}</sub
		>
	</div>
</main>
